<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cat.udl.tidic.amb.janari0android">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.camera"
        android:required="true" />
    <application
        tools:replace="android:label"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_janari"
        android:label="@string/appName"
        android:roundIcon="@mipmap/ic_launcher_janari_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/SplashTheme"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" android:windowSoftInputMode="adjustResize" android:theme="@style/LoginTheme"/>
        <activity android:name=".RegisterActivity" android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".AddStockActivity" android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".AddStockProductNameActivity" android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".ListProductsActivity" android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".DonateActivity" android:windowSoftInputMode="adjustPan" />
        <activity android:name=".UserProfileActivity" android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".SellActivity" android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".ChangePasswordActivity" android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".EditProfileActivity" android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".ScannActivity" android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".ProductDetailsActivity" android:windowSoftInputMode="adjustPan"/>
    </application>

</manifest>