@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header style="text-align:center">
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">You do not have access to this resource.</p>
    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
        <button style="margin:auto;display:block" type="submit" class=" nav-link button grey text-dark">Logout</button>
    </form>
</header>
